<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saasmarketplaceperuserwebook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/39f5e7b1-5e22-4428-bdab-434c11033e04/resourcegroups/rg_marketplacewebhook/providers/Microsoft.Web/sites/SaaSmarketplacePerUserWebook</ResourceId>
    <UserName>$SaaSmarketplacePerUserWebook</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://saasmarketplaceperuserwebook.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>